
<h2 appHighlight> {{title | uppercase}} Page</h2>

<!--
{{express}} interpolation , evel expr toString()
[property] property binding
(click) event binding 
-->
<p>Counter {{counter}}</p>
<p> Next Value {{ counter + 1 }} </p>

<input [value]="counter"/>
<input [value]="counter * 2"/>

<button (click)="increment()"> Increment </button>
<button (click)="counter = counter -1 "> Decrement </button>
<p> check counter ::  {{counter|power:3}}</p>

<hr>

Date <input value = "{{today | date}}" readonly/>

<p> full Date {{today | date:'fullDate'| titlecase}}</p>

<p> Custome Date {{today | date:'MMM/dd/yyyy'}}</p>
<p> Price {{price|currency:'USD'}}</p>

<p> check ::  {{5|power:3}}</p>
<p> default PIPE {{5|power}}</p>

<!-- async will subscribe automatically -->
<h4>Members------------ </h4>
<ul>
    <li *ngFor="let member of members$ | async">
        {{member.name}}
    </li>
</ul>

<app-like></app-like>
