<div>
    <h1>{{appTitle}}</h1> <!--{{ expression}} interpolation, or data binding -->
    <app-header></app-header>

    <app-home></app-home>
    <app-about></app-about>
    <app-contact></app-contact>

    <!-- passsing data to child component-->
    <!-- <app-footer company={{appTitle}} year="2018">{{}} it is not recommented -->
    <app-footer [company]="appTitle" year="2018" [addressValue]="address" (contactEvent)="contactHandler($event)"  (mailEvent)="readEmail($event)">
        <!-- use property binding to send object to another component; dont use expression; since it will return as toString 
        your object will be lost   -->
    </app-footer>
</div>